# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


# IntelliJ project files
.idea
*.iml
dist
stats.json
package-lock.json
node_modules

!/data_migration
/modules/data_migration/data/*
/modules/data_migration/data_*/*
!/modules/data_migration/data/1

!/ssl
/ssl/*

/DB/*.sql
!/DB/1
!/DB/*_INIT.sql

/DB/rollbacks/*
!/DB/rollbacks/1
/DB/insert/*
!/DB/insert/1
/DB/CLEAR/*
!/DB/CLEAR/1
public/*
!public/package.json
!public/metronic

models/system/another_tables/



/СОПУТСТВУЮЩИЕ ФАЙЛЫ/
/SYNC_SYSTEM_CORE/
/UPDATE
models/system/another_tables/*.*
!models/system/another_tables/1
/SYNC/
/package-lock.json
/СОПУТСТВУЮЩЕ/
/config/*.json
!/config/config_EXAMPLE.json

/unsecureServerUploads/*.*
!/unsecureServerUploads/1

/attachments/*.*
!/attachments/1

/serverUploads/*.*
!/serverUploads/1

/files/*.*
!/files/1

/log/*.*
!/log/1

/ssl/*.*
!/ssl/1

/templates/*.*
!/templates/1

/views/*.*
!/views/1
