//extends layout
block content
    .page-content
        .container.posRel.mh450
            h2
                | Page not found
            hr
            h4
                | #{message}
            .sBtn.green
                a(href="/")
                    .fa.fa-home
                    | &nbsp;&nbsp;To main
            img.p_404(src="img/p_404.jpg")
