.back_for_gallery.back_for_request
.gallery_full_view
  .g_counter_wrap
    span.g_counter_current 1
    span /
    span.g_counter_all
  .g_prev_photo
    .g_prev_photo_pic
      img(src='plugins/my_gallery/images/gallery_prev.svg')
  .g_current_pic
    img.g_full_picture(src="")
    a.source(href="", target="_blank")
      .icon
        img(src='plugins/my_gallery/images/download.svg')
  .g_label
  .g_next_photo
    .g_next_photo_pic
      img(src='plugins/my_gallery/images/gallery_next.svg')
  .close_full_view
    .close_full_view_img
      img(src='plugins/my_gallery/images/gallery_close.svg')